.tg-container {
  width: 1000px;
  max-width: 95vw;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-16 {
  margin-top: 16px;
}

a {
  color: #00B7FF;
}